{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
{% for genre, genre_books in books_by_genre.items() %}
	{% if genre_books %}
		<h2>{{ genre }}</h2>
		<hr class="my-3">
	{% endif %}
	<div class="row row-cols-1 row-cols-md-3">
		{% for book in genre_books %}
			<div class="col mb-4">
				<div class="card shadow-sm">
					{% if book.image %}
						<img src="{{ book.image }}" alt="image" height="255px" style="object-fit: cover;">
					{% else %}
						<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
							role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
							<title>Placeholder</title>
							<rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
								dy=".3em">Thumbnail</text>
						</svg>
					{% endif %}

					<div class="card-body">
						<h4 class="card-title">{{ book.name }}</h4>
						<h5 class="card-genre">Жанр книги: {{ book.genre_rel.name }}</h5>
						<p class="card-text">{{ book.description }}</p>
						<h6 class="card-price">Цена: {{ book.price }}</h6>
						<h6 class="card-date">Дата издания: {{ book.publish_date }}</h6>
						<h5 class="card-author">Автор: {{ book.author }}</h5>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a href="/edit-book/{{ book.id }}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
							</div>
							<small class="text-muted">{{ book.stock }} в наличии</small>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endfor %}
{% if books|length == 0 %}
	<div class="container text-center mt-5">
		<h2 class="mt-3">{{ "Ни одной книги не создано!" }}</h2>
		<div class="spinner-border text-primary" role="status">
			<span class="sr-only">Загрузка...</span>
		</div>
	</div>
{% endif %}
{% endblock %}